<!--
  Generated template for the RegistrarSalaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Criar nova sala</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item class="divider-manual">
    <ion-label>Informações Gerais</ion-label>
  </ion-item>

  <ion-item>
    <div class="div_foto_grupo">
      <img *ngIf="imgPath" id="imgPerfil" class='img_grupo' (click)="tirarFoto()" src="{{ imgPath }}">

      <img *ngIf="!imgPath" class='img_grupo' (click)="tirarFoto()" src="assets/imgs/group.png">
      <label class="label_img_perfil" for="imgPerfil"><i>Toque na imagem para alterá-la</i></label>
    </div>

    <!-- <img *ngIf="imgPath" class='img-perfil' (click)="tirarFoto()" src="{{ imgPath }}"> -->

    <!-- <img *ngIf="!imgPath"  class='img-perfil' (click)="tirarFoto()" src="assets/imgs/friend.png"> -->


    <!-- <img class='img-perfil' (click)="tirarFoto()" src="assets/imgs/a.jpg"> -->
  </ion-item>

  <ion-item>
    <ion-label floating>Nome da sala</ion-label>
    <ion-input [(ngModel)]="sala.nome"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-input [(ngModel)]="sala.descricao" maxlength="30"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label> Sala privada</ion-label>
    <ion-toggle [(ngModel)]="sala.privada"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="sala.privada">
    <ion-label floating>Senha</ion-label>
    <ion-input type="Password" [(ngModel)]="sala.senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Sala de leitura</ion-label>
    <ion-toggle [(ngModel)]="sala.apenasLeitura"></ion-toggle>
  </ion-item>

  <ion-item class="divider-manual">
    <ion-label>Tamanho da sala</ion-label>
    <!-- <ion-badge item-end>{{sala.raio}} m</ion-badge> -->
  </ion-item>

  <ion-item>
    <ion-range min="50" max="150" step="50" snaps="true" pin="true" color="secondary" [(ngModel)]="sala.raio"></ion-range>
  </ion-item>

  <ion-row>
    <ion-col>
      <button ion-button color="danger" (click)="fecharModal()" type="submit">Cancelar</button>
      <button ion-button color="secondary" (click)="salvarSala(sala)" [disabled]="sala.nome === '' || (sala.privada === true && sala.senha === '')"
        type="submit">Criar</button>
    </ion-col>
  </ion-row>
</ion-content>