<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="atualizarSalasDisponiveis()">
        <ion-icon name="refresh" class=""></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Salas próximas a você</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">Disponíveis</ion-item-divider>
    <ion-item *ngFor="let sala of salas ">
      <ion-avatar item-start>
        <img src="assets/imgs/group.png">
      </ion-avatar>
      <h2 (click)="verificarSenhaSala(sala)">{{sala.nome}}</h2>
      <div item-end>
        <ion-icon *ngIf="sala.temAmigo" name="happy" (click)='exibirInformacaoAmigo()' class="aviso-sala aviso-tem-amigo-na-sala"></ion-icon>
        <ion-icon *ngIf="sala.privada" name="lock" (click)='exibirInformacaoSalaBloqueada()' class="aviso-sala aviso-sala-bloqueada"></ion-icon>
      </div>
    </ion-item>
    <ion-item>{{this.msgTeste}}</ion-item>
    
    <ion-item>{{this.msgTeste2}}</ion-item>


    <ion-item-divider color="light">Um pouco mais distantes</ion-item-divider>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/group.png">
      </ion-avatar>
      <h2>Slimer 2</h2>
    </ion-item>

  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="novaSala()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>