page-salas {
}

.aviso-sala {
  font-size: 20px;
  display: block;
}

.aviso-tem-amigo-na-sala {
  color: #50d2506b;
  margin-bottom: 5px;
}

.aviso-sala-bloqueada {
  color: #00000061;
  margin-left: 3px;
}

.alert-head {
  text-align: center!important;
}
