.aviso-sala {
  font-size: 20px!important;
  display: block!important;
}

.aviso-tem-amigo-na-sala {
  // color: unquote(#50d2506b)!important;
  margin-bottom: 5px;
}

.aviso-sala-bloqueada {
  // color: unquote(#00000061)!important;
  margin-left: 3px!important;
}

.alert-head {
  text-align: center !important;
}

.p-distancia {
  font-size: 11px!important;
}

.div-avisos-sala {
  text-align: center!important;
}
