page-configuracoes {
  .img-perfil {
    height: 160px;
    width: 55%;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    display: block;
    box-shadow: 0px 0px 10px 1px #ccc !important;
  }



  .div_perfil{
    text-align: center!important;
    label{

      color: #ccc!important;
    }
  }
}

.label_img_perfil{
  color: #ccc!important;
  font-size: 13px!important;
}
