// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background-md {
  // background: #3891ff;
  background-image: linear-gradient(#3891ff, #60a8ff);
}
.toolbar-title-md {
  color: #ffffff;
}

.back-button,
.bar-button {
  color: #ffffff !important;
}

// IMAGENS ARREDONDADAS
.div_foto {
  text-align: center !important;
  label {
    color: #ccc !important;
    font-size: 13px !important;
  }

  img {
    height: 160px;
    width: 55%;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    display: block;
    box-shadow: 0px 0px 10px 1px #ccc !important;
  }
}
