<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="voltarParaSalas()">
        <ion-icon name="md-arrow-back" class="icon-voltar"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="mostrarOpcoesDaSala()">
        <ion-icon name="settings" *ngIf="sala && sala.criador === meuEmail; else usuarios" class="icon-voltar"></ion-icon>
        <ng-template #usuarios>

          <ion-icon name="menu" class="icon-voltar"></ion-icon>
        </ng-template>
      </button>
    </ion-buttons>
    <ion-title *ngIf="sala">{{sala.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="conte" padding>
  <div *ngFor="let mensagem of mensagens">
    <span class="mensagem" [ngClass]="{'proprioAutor':mensagem.emailAutor == meuEmail,'outroAutor':mensagem.emailAutor != meuEmail,'msgCriador': mensagem.emailAutor == sala.criador ,'msg_texto':!mensagem.imagem,'msg_img':mensagem.imagem}">
      <span class="autor">{{mensagem.apelidoAutor}} - {{mensagem.dataEnvio}}</span><br>
      <span *ngIf="!mensagem.imagem">
        <span [hidden]="testarRegex(mensagem.mensagem)"> {{mensagem.mensagem}}</span>
        <a [hidden]="!testarRegex(mensagem.mensagem)" (click)="abrirLink(mensagem.mensagem)"> {{mensagem.mensagem}}</a>
      </span>
      <span *ngIf="mensagem.imagem"> <img [src]="mensagem.urlFoto" alt=""></span>
    </span>
  </div>
</ion-content>

<ion-footer [hidden]="(sala && sala.criador !== meuEmail) && (sala && sala.apenasLeitura)">
  <!-- <ion-footer *ngIf="ehLeitura"> -->
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <ion-input #inputMsg placeholder="Digite" round [(ngModel)]="mensagem"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button color="ligth" (click)="tirarFoto()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button (click)="enviarMensagem(mensagem)">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>